.app {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 500px;
  height: 100vh;
  padding-left: 200px;
  padding-right: 200px;
}
