.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.titleBar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.parentBar {
  align-items: flex-end;
  display: flex;
  height: 80%;
  justify-content: space-between;
  width: 100%;
  border-radius: 4px;
}

.childLeftBar {
  align-items: flex-end;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  border-radius: 4px;
}

.childRightBar {
  align-items: flex-end;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  border-radius: 4px;
}

.childLeftBar:hover,
.childRightBar:hover {
  border: 3px black solid;
}

.childLeftBar p,
.childRightBar p {
  padding: 3px;
}
